{% extends "master.njk" %}

{% block page %}
    <section class="center-box center-box--content-centered">
        <h1 class="title-message">vision<span class="color--brand-3">elixir</span></h1>
        <h2 class="sub-message sub-message--center">welcome</h2>
    </section>
{% endblock %}
