{% extends "../master.njk" %}

{% block page %}
    <section class="center-box">
        <h1 class="header">Debug Error</h1>
        <div class="debug-item">Type: {{ error.type }}</div>
        <div class="debug-item">Name: {{ error.name }}</div>
        <div class="debug-item">Is Pass-through: {{ error.isPassThrough }}</div>
        <div class="debug-item">Message: {{ error.message }}</div>
        <div class="debug-item">Pass-through Message: {{ error.passThroughMessage }}</div>
        <div class="debug-item">Payload: <pre>{{ error.payload }}</pre></div>
        <div class="debug-item">Pass-through Payload: <pre>{{ error.passThroughPayload }}</pre></div>
        <div class="debug-item">Stack: <pre>{{ error.stack }}</pre></div>
    </section>
{% endblock %}
